.section{
    display: flex;
    width: 600px;
    height: 430px;
    align-items: center;
}

.img{
    width: 267px;
    height: 400px;
    object-fit: cover;
    opacity: .6; 
    transition: 2s ease;
}

.img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
} 