.section{
  padding-top: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  background-image: linear-gradient(to top, #B40A0A, #730c07, #4f0504, #450505, #180101);
}


.card{
  display: flex;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
  width: 300px;
  height: 300px;
  background-color: rgba(240, 248, 255, 0);
  box-shadow: 0 15px 45px #000;
  overflow: hidden;
  transition: 0.7s;
}

.card:hover{
  width: 600px;
  
}

.card .img{
  position: relative;
  min-width: 300px;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.card:hover .img{
  transform: rotate(-20deg);
}

.card .img img{
  height: 90%;
  width: 85%;
}

.card .details{
  position: relative;
  min-width: 300px;
  background:#262525;
  display:flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  color: aliceblue;
}

.card .details::before{
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid rgb(77, 10, 10);
}