.NavBar {
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
