.NavBar {
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.menu {
  position: relative;
  color: #21ebff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}

.menu::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: 0.2s;
  transition-delay: 0.2s;
  z-index: -1;
}

.menu::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff;
  border-right: 2px solid #21ebff;
  transition: 0.2s;
  transition-delay: 0.2s;
  z-index: -1;
}

.menu:hover::before,
.menu:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

.menu:hover {
  background: #21ebff;
  color: #000;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s
}

.link{
  position: fixed;
  transition-delay: 0.2s;
}

